<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>새글등록</title>
</head>
<body th:align="center">
<h3>새 글 등록하기</h3>
<hr>
<form th:action="insertBoard" method="post">
<table th:align="center" th:border="1" th:cellpadding="0" th:cellspacing="0">
	<tr>
		<td bgcolor="orange" width="70" th:text="제목"></td>
		<td th:align="left"><input type="text" name="title"/></td>
	</tr>
	<tr>
		<td bgcolor="orange" th:text="작성자"></td>
		<td th:align="left"><span sec:authentication="principal.member.name"></span></td>
	</tr>
	<tr>
		<td bgcolor="orange" th:text="내용"></td>
		<td><textarea name="content" cols="40" rows="10"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
		<input type="submit" value=" 새 글 등록 "/></td>
	</tr>
</table>
</form>
<hr>
<a th:href="@{/board/getBoardList}">글목록</a>
</body>
</html>
